.headingWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 4rem;
}
.headingWrap h1 {
  font-size: 3rem;
}

.searchBoxWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.searchBar {
  position: relative;
  margin-right: 1.5rem;
}
.tableWrap {
  padding: 1rem 4rem;
}
